#meny{
    background-color: #eeedeedb;
    padding-left: 10px;
    padding: 20px;
}
p.forfatter {
    font-size: 1.5vw;
}
.erna_bilde{
    width: 100%;
}
#logo{
    width: 25px;
}


.overskrift {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20%;
    font-size: 2vw;
    padding-bottom: 2.5%;
}
h3.tekst {
    float: left;
    width: 65%;
    padding-left: 20%;
    padding-right: 3%;
    min-width: 110px;
    font-size: 1.5vw;
}

.infotekst {
    float: left;
    padding-left: 20%;
    padding-right: 20%;

    font-size: 1.3vw;
}
.infotekst2 {
    float: right;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3vw;
}
.infotekst3 {
    float: right;
    
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3vw;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: auto;
    width: 100%;
    height: auto;
    position: relative; 
}
  
.navbar li a {
    display: block;
    color: #000;
    float: left;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;

}
introduksjon{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
.navbar li a:hover:not(.active) {
    background-color: #eeedeedb;
    color: rgb(0, 0, 0);
}


.participants {
    border:1px solid black;
}
.accessibility {
    width:100%;
}
